/* CSS Document */

body {
    background-color: #F1F1F1;
} /* END BODY */

p {
    font-family: sans-serif;
    font-size: 60px;
    color: #F1F1F1;
} /* END P */

::-webkit-scrollbar { 
    display: none; 
} /* END SCOLLBAR */

div.container { 
    height: 494px;
    width: 1763px;
    position: absolute;
    margin: -247px 0 0 -898px;
    left: 52%;
    top: 55%;
} /* END DIV.CONTAINER */

div.logo {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: -50% 0 0 -50%;
    left: 50%;
    top: 50%;
} /* END DIV.LOGO */

div.gallery {
    background-color: #F1F1F1;
    height: 1000px;
    width: 80%;
    margin-top: -360px;
    overflow-y: scroll;
    
} /* END DIV.GALLERY */

img.picture {
    position: relative;
    height: 400px;
    padding: 5px;
    cursor: url(../Images/Curse.png), auto; 
} /* END IMG.PICTURE */

div.Ltab {
    background-color: #c90d0d;
    margin-top: 120px;
    height: 500px;
    width: 1.5%;
} /* END DIV.LTAB */

div.Rtab {
    background-color: #c90d0d;
    margin-top: -500px;
    height: 500px;
    width: 1.5%;
    float: right;
} /* END DIV.RTAB */
